@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

body{
    font-family: 'Libre Bodoni', serif;
    background-image:url('/assests/Background.png');
    background-size:cover;
    background-repeat:no-repeat;
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding:.4em 2em;
}
form{
    padding: 0 3 em;
}

#login.title>span{
    font-size: .8em;
}

